beautifulsoup4==4.7.1
certifi==2019.6.16
chardet==3.0.4
Django==2.2.2
django-appconf==1.0.3
django-compressor==2.3
django-picklefield==2.0
django-sass-processor==0.7.3
idna==2.8
libsass==0.19.2
pytz==2019.1
rcssmin==1.0.6
requests==2.22.0
rjsmin==1.1.0
six==1.12.0
soupsieve==1.9.2
sqlparse==0.3.0
urllib3==1.25.3
