beautifulsoup4==4.7.1
certifi==2019.6.16
chardet==3.0.4
confusable-homoglyphs==3.2.0
Django==2.2.24
django-generate-secret-key==1.0.2
django-picklefield==2.0
django-registration==3.1.2
django-sass-processor==0.7.3
django-widget-tweaks==1.4.5
djangorestframework==3.11.2
idna==2.8
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.1
requests==2.22.0
soupsieve==1.9.2
sqlparse==0.3.0
urllib3==1.25.8
uWSGI==2.0.18
