beautifulsoup4
bleach
bleach-allowlist
Django
django-cors-headers
django-registration
django-widget-tweaks
djangorestframework
huey
Markdown
mozilla-django-oidc
psycopg2-binary
python-dateutil
requests
supervisor
uWSGI
waybackpy
