{% extends 'shared/layout.html' %}
{% load shared %}
{% block head %}
  {% with page_title="Login - Linkding" %}{{ block.super }}{% endwith %}
{% endblock %}
{% block content %}
  <main class="auth-page" aria-labelledby="main-heading">
    <div class="section-header">
      <h1 id="main-heading">Login</h1>
    </div>
    {% if not disable_login %}
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {% if form.errors %}
          <p class="form-input-hint is-error">Your username and password didn't match. Please try again.</p>
        {% endif %}
        <div class="form-group">
          {% formlabel form.username 'Username' %}
          {% formfield form.username class='form-input' %}
        </div>
        <div class="form-group">
          {% formlabel form.password 'Password' %}
          {% formfield form.password class='form-input' %}
        </div>
        <input type="submit" value="Login" class="btn btn-primary width-100 mt-4" />
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
    {% endif %}
    {% if enable_oidc %}
      <a class="btn width-100 mt-4"
         href="{% url 'oidc_authentication_init' %}"
         data-turbo="false">Login with OIDC</a>
    {% endif %}
  </main>
{% endblock %}
