{% extends 'shared/layout.html' %}
{% load shared %}
{% block head %}
  {% with page_title="Change password - Linkding" %}{{ block.super }}{% endwith %}
{% endblock %}
{% block content %}
  <main class="auth-page" aria-labelledby="main-heading">
    <div class="section-header">
      <h1 id="main-heading">Change Password</h1>
    </div>
    <form method="post" action="{% url 'change_password' %}">
      {% csrf_token %}
      <div class="form-group">
        {% formlabel form.old_password 'Old password' %}
        {% formfield form.old_password class='form-input' %}
        {{ form.old_password.errors }}
      </div>
      <div class="form-group">
        {% formlabel form.new_password1 'New password' %}
        {% formfield form.new_password1 class='form-input' %}
        {{ form.new_password1.errors }}
      </div>
      <div class="form-group">
        {% formlabel form.new_password2 'Confirm new password' %}
        {% formfield form.new_password2 class='form-input' %}
        {{ form.new_password2.errors }}
      </div>
      <input type="submit"
             value="Change Password"
             class="btn btn-primary width-100 mt-4">
    </form>
  </main>
{% endblock %}
