{% extends "bookmarks/layout.html" %}

{% block content %}
    <div class="settings-page">

        {% include 'settings/nav.html' %}

        <section class="content-area">
            <h2>API Token</h2>
            <p>The following token can be used to authenticate 3rd-party applications against the REST API:</p>
            <div class="form-group">
                <div class="columns">
                    <div class="column col-6 col-md-12">
                        <input class="form-input" value="{{ api_token }}" disabled>
                    </div>
                </div>
            </div>
            <p><strong>Please treat this token as you would any other credential.</strong> Any party with access to this
                token can access and manage all your bookmarks.</p>
            <p>If you think that a token was compromised you can revoke (delete) it in the <a href="{% url 'admin:authtoken_tokenproxy_changelist' %}">admin panel</a>. After deleting the token, a new one will be generated when you reload this settings page.</p>
        </section>

    </div>

{% endblock %}
