{% extends "bookmarks/layout.html" %}

{% block content %}
    <div class="settings-page">

        {# Admin section #}
        <section class="content-area">
            <div class="content-area-header">
                <h2>Administration</h2>
            </div>
            <p>linkding comes with an admin panel that provides additional management features such as user management
                or bulk operations.<br>
                <a href="{% url 'admin:index' %}" class="btn btn-primary mt-2">Open admin</a>
            </p>
            <p>
                Quicklinks:
            <ul>
                <li><a href="{% url 'admin:auth_user_changelist' %}">User management</a></li>
                <li><a href="{% url 'admin:bookmarks_bookmark_changelist' %}">Bookmarks</a></li>
                <li><a href="{% url 'admin:bookmarks_tag_changelist' %}">Tags</a></li>
            </ul>
            </p>
        </section>

        {# Import section #}
        <section class="content-area">
            <div class="content-area-header">
                <a id="bookmarklet"><h2>Import</h2></a>
            </div>
            <p>Import bookmarks and tags in the Netscape HTML format. This will execute a sync where new bookmarks are
                added and existing ones are updated.</p>
            <form method="post" enctype="multipart/form-data" action="{% url 'bookmarks:settings.import' %}">
                {% csrf_token %}
                <div class="form-group">
                    <div class="input-group col-8 col-md-12">
                        <input class="form-input" type="file" name="import_file">
                        <input type="submit" class="input-group-btn col-2 btn btn-primary" value="Upload">
                    </div>
                    {% if import_success_message %}
                        <div class="has-success">
                            <p class="form-input-hint">
                                {{ import_success_message }}
                            </p>
                        </div>
                    {% endif %}
                    {% if import_errors_message %}
                        <div class="has-error">
                            <p class="form-input-hint">
                                {{ import_errors_message }}
                            </p>
                        </div>
                    {% endif %}
                </div>
            </form>
        </section>

        {# Export section #}
        <section class="content-area">
            <div class="content-area-header">
                <h2>Export</h2>
            </div>
            <p>Export all bookmarks in Netscape HTML format.</p>
            <a class="btn btn-primary" href="{% url 'bookmarks:settings.export' %}">Download (.html)</a>
            {% if export_error %}
                <div class="has-error">
                    <p class="form-input-hint">
                        {{ export_error }}
                    </p>
                </div>
            {% endif %}
        </section>

        {# Integrations section #}
        <section class="content-area">
            <div class="content-area-header">
                <a id="bookmarklet"><h2>Bookmarklet</h2></a>
            </div>
            <p>The bookmarklet is a quick way to add new bookmarks without opening the linkding application
                first. Here's how it works:</p>
            <ul>
                <li>Drag the bookmarklet below into your browsers bookmark bar / toolbar</li>
                <li>Open the website that you want to bookmark</li>
                <li>Click the bookmarklet in your browsers toolbar</li>
                <li>linkding opens in a new window or tab and allows you to add a bookmark for the site</li>
                <li>After saving the bookmark the linkding window closes and you are back on your website</li>
            </ul>
            <p>Drag the following bookmarklet to your browsers toolbar:</p>
            <a href="javascript: {% include 'bookmarks/bookmarklet.js' %}"
               class="btn btn-primary">📎 Add bookmark</a>
        </section>

        {# API token section #}
        <section class="content-area">
            <div class="content-area-header">
                <h2>API Token</h2>
            </div>
            <p>The following token can be used to authenticate 3rd-party applications against the REST API:</p>
            <div class="form-group">
                <div class="columns">
                    <div class="column col-6 col-md-12">
                        <input class="form-input" value="{{ api_token }}" disabled>
                    </div>
                </div>
            </div>
            <p><strong>Please treat this token as you would any other credential.</strong> Any party with access to this
                token can access and manage all your bookmarks.</p>
            <p>If you think that a token was compromised you can revoke (delete) it in the <a href="{% url 'admin:authtoken_token_changelist' %}">admin panel</a>. After deleting the token, a new one will be generated when you reload this settings page.</p>
        </section>

    </div>

{% endblock %}
