{% extends "bookmarks/layout.html" %}

{% block head %}
  {% with page_title="Integrations - Linkding" %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block content %}
  <main class="settings-page" aria-labelledby="main-heading">
    <h1 id="main-heading">集成</h1>

    <section aria-labelledby="browser-extension-heading">
      <h2 id="browser-extension-heading">浏览器扩展</h2>
      <p>浏览器扩展允许你在不离开当前页面的情况下快速添加新书签。该扩展可在以下官方扩展商店中获取：</p>
      <ul>
        <li><a href="https://addons.mozilla.org/firefox/addon/linkding-extension/" target="_blank">Firefox</a></li>
        <li><a href="https://chrome.google.com/webstore/detail/linkding-extension/beakmhbijpdhipnjhnclmhgjlddhidpe"
               target="_blank">Chrome</a></li>
      </ul>
      该扩展也是<a href="https://github.com/sissbruecker/linkding-extension" target="_blank">开源的github</a>，这使你可以自行构建并手动加载到任何支持 Chrome 扩展的浏览器中
      <h2>书签脚本</h2>
      <p>书签小工具是一种替代性的、跨浏览器的方式，可在不先打开 linkding 应用的情况下快速添加新书签。其工作方式如下：</p>
      <ul>
        <li>将下面的书签小工具拖动到你的浏览器书签栏 /toolbar</li>
        <li>打开你想要添加为书签的网站</li>
        <li>点击浏览器工具栏中的书签小工具</li>
        <li>linkding 会在新窗口或新标签页中打开，并允许你为该网站添加书签</li>
        <li>保存书签后，linkding 窗口会自动关闭，你将回到原来的网站</li>
      </ul>
      <p>将以下书签小工具拖动到浏览器的工具栏中:</p>
      <a href="javascript: {% include 'bookmarks/bookmarklet.js' %}" data-turbo="false"
         class="btn btn-primary">📎 添加书签</a>
    </section>

    <section aria-labelledby="rest-api-heading">
      <h2 id="rest-api-heading">REST API</h2>
      <p>以下令牌可用于对第三方应用进行 REST API 身份验证:</p>
      <div class="form-group">
        <div class="width-50 width-md-100">
          <input class="form-input" value="{{ api_token }}" readonly>
        </div>
      </div>
      <p>
        <strong>请像对待其他任何凭据一样对待此令牌</strong>
        任何有权访问此令牌的方都可以访问和管理你所有的书签。如果你认为某个令牌已被泄露，你可以在中撤销（删除）它 <a
          target="_blank" href="{% url 'admin:authtoken_tokenproxy_changelist' %}">管理员面板</a>.
        删除令牌后，当你重新加载此设置页面时，将生成一个新的令牌
      </p>
    </section>

    <section aria-labelledby="rss-feeds-heading">
      <h2 id="rss-feeds-heading">RSS Feeds</h2>
      <p>以下 URL 提供你书签的 RSS 订阅源:</p>
      <ul style="list-style-position: outside;">
        <li><a target="_blank" href="{{ all_feed_url }}">所有书签</a></li>
        <li><a target="_blank" href="{{ unread_feed_url }}">未读书签</a></li>
        <li><a target="_blank" href="{{ shared_feed_url }}">共享书签</a></li>
        <li><a target="_blank" href="{{ public_shared_feed_url }}">公共书签</a><br><span class="text-small text-secondary">公开共享的订阅源不包含身份验证令牌，可以与他人共享。仅显示已明确启用公共共享的用户的共享书签</span>
        </li>
      </ul>
      <p>
        所有URL都支持以下URL参数:
      </p>
      <ul style="list-style-position: outside;">
        <li>一个 <code>limit</code> 参数，用于指定要包含在订阅源中的最大书签数。默认情况下，仅包含最新的 100 个匹配书签。</li>
        <li>一个 <code>q</code> URL 参数，用于指定搜索查询。你可以通过在书签视图中进行搜索，然后从 URL 中复制该参数来获取示例。</li>
        <li>一个 <code>unread</code> 参数，用于筛选未读或已读书签。使用 <code>yes</code> 表示未读书签，使用 <code>no</code> 表示已读书签。</li>
        <li>一个 <code>shared</code> 参数，用于筛选共享或未共享的书签。使用 <code>yes</code> 表示共享书签，使用 <code>no</code> 表示未共享书签。</li>
      </ul>
      <p>
        <strong>请注意，这些 URL 包含一个身份验证令牌，应该像对待其他凭据一样处理。</strong>
        任何有权访问这些 URL 的方都可以读取你所有的书签。如果你认为某个 URL 已被泄露，你可以在 <a target="_blank" href="{% url 'admin:bookmarks_feedtoken_changelist' %}">管理面板</a> 中删除你用户的订阅源令牌。删除订阅源令牌后，当你重新加载此设置页面时，将生成新的 URL
      </p>
    </section>
  </main>
{% endblock %}
