$body-bg: #161822 !default;
$bg-color: lighten($body-bg, 5%) !default;
$bg-color-light: lighten($body-bg, 5%) !default;

$border-color: #4C4E53 !default;
$border-color-dark: $border-color !default;

$body-font-color: #b5bec8 !default;
$light-color: #fafafa !default;

$gray-color: #7f879b !default;
$gray-color-dark: lighten($gray-color, 20%) !default;

$primary-color: #a8b1ff !default;
$primary-color-dark: saturate($primary-color, 5%) !default;
$secondary-color: lighten($body-bg, 10%) !default;

$link-color: $primary-color !default;
$link-color-dark: darken($link-color, 5%) !default;
$link-color-light: $link-color !default;

$secondary-link-color: rgba(168, 177, 255, 0.73);

$alternative-color: #59bdb9;
$alternative-color-dark: #73f1eb;

$code-bg-color: rgba(255, 255, 255, 0.1);
$code-shadow-color: rgba(255, 255, 255, 0.2);

/* Dark theme specific */
$dt-primary-input-color: #5C68E7 !default;
$dt-primary-button-color: #5761cb !default;
