{% load widget_tweaks %}

<div class="form-group {% if form.name.errors %}has-error{% endif %}">
  <label class="form-label" for="{{ form.name.id_for_label }}">Name</label>
  {{ form.name|add_class:"form-input"|attr:"autocomplete:off"|attr:"placeholder: "|attr:"autofocus" }}
  <div class="form-input-hint">Tag names are case-insensitive and cannot contain spaces (spaces will be replaced with
    hyphens).
  </div>
  {% if form.name.errors %}
    <div class="form-input-hint">
      {{ form.name.errors }}
    </div>
  {% endif %}
</div>
