<div class="actions">
  <div class="left-actions">
    <a class="btn btn-wide"
       href="{% url 'bookmarks:edit' details.bookmark.id %}?return_url={{ details.edit_return_url|urlencode }}">Edit</a>
  </div>
  <div class="right-actions">
    <form action="{{ details.delete_url }}" method="post">
      {% csrf_token %}
      <button ld-confirm-button type="submit" name="remove" value="{{ details.bookmark.id }}"
              class="btn btn-error btn-wide">
        Delete...
      </button>
    </form>
  </div>
</div>
