<div class="actions">
  <div class="left-actions">
    <a class="btn"
       href="{% url 'bookmarks:edit' details.bookmark.id %}?return_url={{ details.edit_return_url|urlencode }}">Edit</a>
  </div>
  <div class="right-actions">
    <form action="{% url 'bookmarks:index.action' %}?return_url={{ details.delete_return_url|urlencode }}"
          method="post">
      {% csrf_token %}
      <button ld-confirm-button type="submit" name="remove" value="{{ details.bookmark.id }}"
              class="btn btn-link text-error">
        Delete...
      </button>
    </form>
  </div>
</div>
