{% extends "admin/base_site.html" %}
{% load i18n %}
{% block content %}
  <table style="width: 100%">
    <thead>
      <tr>
        <th>{% translate "ID" %}</th>
        <th>{% translate "Name" %}</th>
        <th>{% translate "Args" %}</th>
        <th>{% translate "Retries" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
        <tr>
          <td>{{ task.id }}</td>
          <td>{{ task.name }}</td>
          <td>{{ task.args }}</td>
          <td>{{ task.retries }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <p class="paginator">
    {% if page.paginator.num_pages > 1 %}
      {% for page_number in page_range %}
        {% if page_number == page.number %}
          <span class="this-page">{{ page_number }}</span>
        {% elif page_number == '…' %}
          <span>…</span>
        {% else %}
          <a href="?p={{ page_number }}">{{ page_number }}</a>
        {% endif %}
      {% endfor %}
      &nbsp;
    {% endif %}
    {% blocktranslate count counter=page.paginator.count %}{{ counter }} task{% plural %}{{ counter }} tasks{% endblocktranslate %}
  </p>
{% endblock %}
