body {
  margin: 20px 10px;
}

header {
  margin-bottom: 40px;
}

.navbar {

  .navbar-brand {

    .logo {
      background-color: $primary-color;
      color: $light-color;
      padding: 14px;
    }

    h1 {
      text-transform: uppercase;
      display: inline-block;
    }
  }

  .dropdown-toggle {
    padding: 0;
  }
}

/* Overrides */

// Reduce heading sizes
h1 {
  font-size: inherit;
}

h2 {
  font-size: .85rem;
  color: $gray-color-dark;
}

// Button color should not change for anchor elements
.btn:visited:not(.btn-primary) {
  color: $primary-color;
}

// Increase spacing between columns
.container > .columns > .column:not(:first-child) {
  padding-left: 2rem;
}
