.bookmarks-page .search {
  $searchbox-width: 180px;
  $searchbox-width-md: 300px;
  $searchbox-height: 1.8rem;

  // Regular input
  input[type='search'] {
    width: $searchbox-width;
    height: $searchbox-height;
    -webkit-appearance: none;

    @media (min-width: $control-width-md) {
      width: $searchbox-width-md;
    }
  }

  // Enhanced auto-complete input
  // This needs a bit more wrangling to make the CSS component align with the attached button
  .form-autocomplete {
    height: $searchbox-height;

    .form-autocomplete-input {
      width: $searchbox-width;
      height: $searchbox-height;

      input[type='search'] {
        width: 100%;
        height: 100%;
        margin: 0;
        border: none;
      }

      @media (min-width: $control-width-md) {
        width: $searchbox-width-md;
      }
    }
  }
}

.bookmarks-page .content-area-header {
  span.btn {
    margin-left: 8px;
  }
}

ul.bookmark-list {

  list-style: none;
  margin: 0;
  padding: 0;

  .description {
    color: $gray-color-dark;

    a, a:visited:hover {
      color: $alternative-color;
    }
  }

  .actions > *:not(:last-child) {
    margin-right: 0.1rem;
  }

  .actions .date-label a {
    color: $gray-color;
  }

  .actions .btn-link {
    color: $gray-color;
    padding: 0;
    height: auto;
    vertical-align: unset;
    border: none;

    &:focus,
    &:hover,
    &:active,
    &.active {
      color: $gray-color-dark;
    }
  }

  .bulk-edit-toggle {
    display: none;
  }
}

.bookmark-pagination {
  margin-top: 1rem;
}

.tag-cloud {

  a, a:visited:hover {
    color: $alternative-color;
  }

  .group {
    margin-bottom: 0.4rem;
  }

  .highlight-char {
    font-weight: bold;
    text-transform: uppercase;
    color: $alternative-color-dark;
  }
}

.bookmarks-form {

  .btn.form-icon {
    padding: 0;
    width: 20px;
    height: 20px;
    visibility: hidden;
    color: $gray-color;

    &:focus,
    &:hover,
    &:active,
    &.active {
      color: $gray-color-dark;
    }

    > svg {
      width: 20px;
      height: 20px;
    }
  }

  .has-icon-right > input, .has-icon-right > textarea {
    padding-right: 30px;
  }

  .has-icon-right > input:placeholder-shown ~ .btn.form-icon,
  .has-icon-right > textarea:placeholder-shown ~ .btn.form-icon {
    visibility: visible;
  }

  .form-icon.loading {
    visibility: hidden;
  }

  .form-input-hint.bookmark-exists {
    display: none;
    color: $warning-color;

    a {
      color: $warning-color;
      text-decoration: underline;
      font-weight: bold;
    }
  }
}

/* Bulk edit */
$bulk-edit-toggle-width: 16px;
$bulk-edit-toggle-offset: 8px;
$bulk-edit-bar-offset: $bulk-edit-toggle-width + (2 * $bulk-edit-toggle-offset);
$bulk-edit-transition-duration: 400ms;

.bulk-edit-form {

  .bulk-edit-bar {
    margin-top: -17px;
    margin-bottom: 16px;
    margin-left: -$bulk-edit-bar-offset;
    max-height: 0;
    overflow: hidden;
    transition: max-height $bulk-edit-transition-duration;
  }

  .bulk-edit-actions {
    display: flex;
    align-items: baseline;
    padding: 4px 0;
    border-top: solid 1px $border-color;

    button:hover {
      text-decoration: underline;
    }

    > label.form-checkbox {
      min-height: 1rem;
    }

    > button {
      padding: 0;
      margin-left: 8px;
    }

    > span {
      margin-left: 8px;
    }

    > input, .form-autocomplete {
      width: auto;
      margin-left: 4px;
      max-width: 200px;
      -webkit-appearance: none;
    }

    span.confirmation {
      display: flex;
    }

    span.confirmation button {
      padding: 0;
    }
  }

  .bulk-edit-all-toggle {
    width: $bulk-edit-toggle-width;
    margin: 0 0 0 $bulk-edit-toggle-offset;
    padding: 0;
  }

  ul.bookmark-list li {
    position: relative;
  }

  ul.bookmark-list li .bulk-edit-toggle {
    display: block;
    position: absolute;
    width: $bulk-edit-toggle-width;
    left: -$bulk-edit-toggle-width - $bulk-edit-toggle-offset;
    top: 0;
    padding: 0;
    margin: 0;
    visibility: hidden;
    opacity: 0;
    transition: all $bulk-edit-transition-duration;

    i {
      top: 0.2rem;
    }
  }
}

#bulk-edit-mode {
  display: none;
}

#bulk-edit-mode:checked ~ .bookmarks-page .bulk-edit-toggle {
  visibility: visible;
  opacity: 1;
}

#bulk-edit-mode:checked ~ .bookmarks-page .bulk-edit-bar {
  max-height: 37px;
  border-bottom: solid 1px $border-color;
}
