/* Common styles */
.bookmark-details {
  h2 {
    flex: 1 1 0;
    align-items: flex-start;
    font-size: 1rem;
    margin: 0;
  }

  .weblinks {
    display: flex;
    flex-direction: column;
    gap: $unit-2;
  }

  a.weblink {
    display: flex;
    align-items: center;
    gap: $unit-2;
  }

  a.weblink img, a.weblink svg {
    flex: 0 0 auto;
    width: 16px;
    height: 16px;
    color: $body-font-color;
  }

  a.weblink span {
    flex: 1 1 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .preview-image {
    margin: $unit-4 0;

    img {
      max-width: 100%;
      max-height: 200px;
    }
  }

  dl {
    margin-bottom: 0;
  }

  .assets {
    margin-top: $unit-2;
  }

  .assets .asset {
    display: flex;
    align-items: center;
    gap: $unit-3;
    padding: $unit-2 0;
    border-top: $unit-o solid $border-color-light;
  }

  .assets .asset:last-child {
    border-bottom: $unit-o solid $border-color-light;
  }

  .assets .asset-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .assets .asset-text {
    flex: 1 1 0;
    gap: $unit-2;
    min-width: 0;
    display: flex;
  }

  .assets .asset-text .truncate {
    flex-shrink: 1;
  }

  .assets .asset-text .filesize {
    color: $gray-color;
  }

  .assets .asset-actions, .assets-actions {
    display: flex;
    gap: $unit-4;
    align-items: center;
  }

  .assets .asset-actions .btn, .assets-actions .btn {
    height: unset;
    padding: 0;
    border: none;
  }

  .assets-actions {
    margin-top: $unit-2;
  }

  .tags a {
    color: $alternative-color;
  }

  .status form {
    display: flex;
    gap: $unit-2;
  }

  .status .form-group, .status .form-switch {
    margin: 0;
  }

  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* Bookmark details view specific */
.bookmark-details.page {
  display: flex;
  flex-direction: column;
  gap: $unit-6;
}

/* Bookmark details modal specific */
.bookmark-details.modal {
  .modal-header {
    display: flex;
    align-items: flex-start;
    gap: $unit-2;
  }

  .modal-body {
    padding-top: 0;
    padding-bottom: 0;
  }
}
