ul.bookmark-list {

  list-style: none;
  margin: 0;
  padding: 0;

  .description {
    color: $gray-color;
  }

  .actions .btn-link {
    color: $gray-color-dark;
    padding-left: 0;
    padding-right: 0;

    &:focus,
    &:hover,
    &:active,
    &.active {
      color: darken($gray-color-dark, 10%);
    }
  }
}
