.bookmarks-page .search {
  $searchbox-height: 1.8rem;

  // Regular input
  input[type='search'] {
    width: 180px;
    height: $searchbox-height;
    -webkit-appearance: none;

    @media (min-width: $control-width-md) {
      width: 300px;
    }
  }

  // Enhanced auto-complete input
  // This needs a bit more wrangling to make the CSS component align with the attached button
  .form-autocomplete {
    height: $searchbox-height;

    .form-autocomplete-input {
      height: $searchbox-height;
      width: 100%;

      input[type='search'] {
        height: 100%;
        margin: 0;
        border: none;
      }
    }
  }
}

ul.bookmark-list {

  list-style: none;
  margin: 0;
  padding: 0;

  .description {
    color: $gray-color-dark;

    a {
      color: $alternative-color;
    }
  }

  .actions .btn-link {
    color: $gray-color;
    padding-left: 0;
    padding-right: 0;

    &:focus,
    &:hover,
    &:active,
    &.active {
      color: darken($gray-color, 10%);
    }
  }

  .actions .btn-link.bm-remove-confirm {
    color: $error-color;
    &:hover {
      text-decoration: underline;
    }
  }
}

.bookmark-pagination {
  margin-top: 1rem;
}

.tag-cloud {

  a {
    color: $alternative-color;
  }

  .group {
    margin-bottom: 0.4rem;
  }

  .highlight-char {
    font-weight: bold;
    text-transform: uppercase;
    color: $alternative-color-dark;
  }
}

.bookmarks-form {

  .form-icon.loading {
    visibility: hidden;
  }

  .form-input-hint.bookmark-exists {
    visibility: hidden;
    color: $warning-color;

    a {
      color: $warning-color;
      text-decoration: underline;
      font-weight: bold;
    }
  }
}
