/* Bookmark search box */
.bookmarks-page .search {
  $searchbox-width: 180px;
  $searchbox-width-md: 300px;
  $searchbox-height: 1.8rem;

  // Regular input
  input[type='search'] {
    width: $searchbox-width;
    height: $searchbox-height;
    -webkit-appearance: none;

    @media (min-width: $control-width-md) {
      width: $searchbox-width-md;
    }
  }

  // Enhanced auto-complete input
  // This needs a bit more wrangling to make the CSS component align with the attached button
  .form-autocomplete {
    height: $searchbox-height;

    .form-autocomplete-input {
      width: $searchbox-width;
      height: $searchbox-height;

      input[type='search'] {
        width: 100%;
        height: 100%;
        margin: 0;
        border: none;
      }

      @media (min-width: $control-width-md) {
        width: $searchbox-width-md;
      }
    }
  }
}

/* Bookmark list */
ld-bookmark-page {
  display: contents;
}

ul.bookmark-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Bookmarks */
ld-bookmark-item {
  display: contents;
}

ul.bookmark-list li {
  position: relative;

  .title a {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .title img {
    width: 16px;
    height: 16px;
    vertical-align: text-top;
  }

  .url-display {
    color: $secondary-link-color;
  }

  .description {
    color: $gray-color-dark;

    a, a:visited:hover {
      color: $alternative-color;
    }
  }

  .actions {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 0.4rem;
  }

  .actions {
    a, button {
      color: $gray-color;
      padding: 0;
      height: auto;
      vertical-align: unset;
      border: none;
      transition: none;
      text-decoration: none;

      &:focus,
      &:hover,
      &:active,
      &.active {
        color: $gray-color-dark;
      }
    }

    .separator {
      align-self: flex-start;
    }

    .toggle-notes {
      align-self: center;
      display: flex;
      align-items: center;
      gap: 0.1rem;
    }
  }
}

.bookmark-pagination {
  margin-top: 1rem;
}

.tag-cloud {

  .selected-tags {
    margin-bottom: 0.8rem;

    a, a:visited:hover {
      color: $error-color;
    }
  }

  .unselected-tags {
    a, a:visited:hover {
      color: $alternative-color;
    }
  }

  .group {
    margin-bottom: 0.4rem;
  }

  .highlight-char {
    font-weight: bold;
    text-transform: uppercase;
    color: $alternative-color-dark;
  }
}

.bookmarks-form {

  .btn.form-icon {
    padding: 0;
    width: 20px;
    height: 20px;
    visibility: hidden;
    color: $gray-color;

    &:focus,
    &:hover,
    &:active,
    &.active {
      color: $gray-color-dark;
    }

    > svg {
      width: 20px;
      height: 20px;
    }
  }

  .has-icon-right > input, .has-icon-right > textarea {
    padding-right: 30px;
  }

  .has-icon-right > input:placeholder-shown ~ .btn.form-icon,
  .has-icon-right > textarea:placeholder-shown ~ .btn.form-icon {
    visibility: visible;
  }

  .form-icon.loading {
    visibility: hidden;
  }

  .form-input-hint.bookmark-exists {
    display: none;
    color: $warning-color;

    a {
      color: $warning-color;
      text-decoration: underline;
      font-weight: bold;
    }
  }

  details.notes textarea {
    box-sizing: border-box;
  }
}

/* Bookmark notes */
ul.bookmark-list {
  .notes {
    display: none;
    max-height: 300px;
    margin: 4px 0;
    overflow: auto;
  }

  &.show-notes .notes,
  li.show-notes .notes {
    display: block;
  }
}

/* Bookmark notes markdown styles */
ul.bookmark-list .notes-content {
  & {
    padding: 0.4rem 0.6rem;
  }

  p, ul, ol, pre, blockquote {
    margin: 0 0 0.4rem 0;
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  ul, ol {
    margin-left: 0.8rem;
  }

  ul li, ol li {
    margin-top: 0.2rem;
  }

  pre {
    padding: 0.2rem 0.4rem;
    background-color: $code-bg-color;
    border-radius: 0.2rem;
  }

  pre code {
    background: none;
    box-shadow: none;
    padding: 0;
  }

  > pre:first-child:last-child {
    padding: 0;
    background: none;
    border-radius: 0;
  }
}

/* Bookmark bulk edit */
$bulk-edit-toggle-width: 16px;
$bulk-edit-toggle-offset: 8px;
$bulk-edit-bar-offset: $bulk-edit-toggle-width + (2 * $bulk-edit-toggle-offset);
$bulk-edit-transition-duration: 400ms;

ld-bulk-edit,
ld-bulk-edit-toggle,
ld-bulk-edit-checkbox {
  display: contents;
}

ld-bulk-edit-checkbox label.form-checkbox {
  display: none;
}

ld-bulk-edit {
  .bulk-edit-bar {
    margin-top: -17px;
    margin-bottom: 16px;
    margin-left: -$bulk-edit-bar-offset;
    max-height: 0;
    overflow: hidden;
    transition: max-height $bulk-edit-transition-duration;
  }

  &.editing .bulk-edit-bar {
    max-height: 37px;
    border-bottom: solid 1px $border-color;
  }

  /* remove overflow after opening animation, otherwise tag autocomplete overlay gets cut off */
  &.editing:not(.opening) .bulk-edit-bar {
    overflow: visible;
  }

  /* All checkbox */
  ld-bulk-edit-checkbox[type='all'] label.form-checkbox {
    display: block;
    width: $bulk-edit-toggle-width;
    margin: 0 0 0 $bulk-edit-toggle-offset;
    padding: 0;
    min-height: 1rem;
  }

  /* Bookmark checkboxes */
  ld-bulk-edit-checkbox[type='single'] label.form-checkbox {
    display: block;
    position: absolute;
    width: $bulk-edit-toggle-width;
    left: -$bulk-edit-toggle-width - $bulk-edit-toggle-offset;
    top: 0;
    padding: 0;
    margin: 0;
    visibility: hidden;
    opacity: 0;
    transition: all $bulk-edit-transition-duration;

    .form-icon {
      top: 0.2rem;
    }
  }

  &.editing ld-bulk-edit-checkbox[type='single'] label.form-checkbox {
    visibility: visible;
    opacity: 1;
  }

  /* Actions */
  .bulk-edit-actions {
    display: flex;
    align-items: baseline;
    padding: 4px 0;
    border-top: solid 1px $border-color;
    gap: 8px;

    button {
      padding: 0 !important;
    }

    button:hover {
      text-decoration: underline;
    }

    > input, .form-autocomplete {
      width: auto;
      max-width: 200px;
      -webkit-appearance: none;
    }
  }
}
