.bundles-page {
  .crud-table {
    svg {
      cursor: grab;
    }

    tr.drag-start {
      --secondary-border-color: transparent;
    }

    tr.dragging > * {
      opacity: 0;
    }
  }
}

.bundles-editor-page {
  &.grid {
    gap: var(--unit-9);
  }

  .form-footer {
    position: sticky;
    bottom: 0;
    border-top: solid 1px var(--secondary-border-color);
    background: var(--body-color);
    padding: var(--unit-3) 0;
  }
}
