// Copy of colors from spectre _variables

// Core colors
$dt-primary-color-light: lighten($primary-color, 15%) !default;

// Gray colors
$dt-light-color: #ddd !default;

// Border Bg colors
$dt-border-color: #30363d !default;
$dt-border-color-dark: darken($dt-border-color, 10%) !default;
$dt-border-color-light: lighten($dt-border-color, 8%) !default;
$dt-bg-color: #161b22 !default;
$dt-bg-color-dark: #0d1117 !default;
$dt-bg-color-light: $dt-light-color !default;
$dt-body-bg: $dt-bg-color-dark !default;

// Other colors
$dt-highlight-color: #388bfd !default;
$dt-body-font-color: #8b949e !default;
