// Font sizes
$html-font-size: 18px !default;

$alternative-color: #f45d00;
$alternative-color: #FF84E8;
$alternative-color: #98C1D9;
$alternative-color: #7B287D;
$alternative-color: #05a6a3;
$alternative-color-dark: darken($alternative-color, 5%);

// Import Spectre CSS lib
@import "../../node_modules/spectre.css/src/spectre";
// Import Spectre icons
@import "../../node_modules/spectre.css/src/icons/icons-core";
@import "../../node_modules/spectre.css/src/icons/icons-navigation";
@import "../../node_modules/spectre.css/src/icons/icons-action";
@import "../../node_modules/spectre.css/src/icons/icons-object";


// Import style modules
@import "base";
@import "util";
@import "shared";
@import "bookmarks";
