.settings-page {
  section.content-area {
    margin-bottom: $unit-12;

    h2 {
      margin-bottom: $unit-4;
    }
  }

  .input-group > input[type=submit] {
    height: auto;
  }

  section.about table {
    max-width: 500px;
  }
}
