.settings-page {
  section.content-area {
    margin-bottom: $unit-10;

    h2 {
      margin-bottom: $unit-3;
    }
  }

  textarea.custom-css {
    font-family: monospace;
  }

  .input-group > input[type=submit] {
    height: auto;
  }

  section.about table {
    max-width: 500px;
  }
}
