section.content-area {

  .content-area-header {
    border-bottom: solid 1px $border-color;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 16px;

    h2 {
      line-height: 1.8rem;
    }
  }
}
