// Content area component
section.content-area {

  .content-area-header {
    border-bottom: solid 1px $border-color;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: $unit-2;
    margin-bottom: $unit-4;

    h2 {
      line-height: 1.8rem;
      margin-right: auto;
      margin-bottom: 0;
    }
  }
}

// Confirm button component
span.confirmation {
  display: flex;
  align-items: baseline;
}

span.confirmation .btn.btn-link {
  color: $error-color !important;

  &:hover {
    text-decoration: underline;
  }
}
