// Content area component
section.content-area {

  .content-area-header {
    border-bottom: solid 1px $border-color;
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;

    h2 {
      line-height: 1.8rem;
    }
  }
}

// Confirm button component
ld-confirm-button {
  display: contents;

  span.confirmation {
    display: flex;
    align-items: baseline;
  }

  span.confirmation .btn {
    color: $error-color !important;
    &:hover {
      text-decoration: underline;
    }
  }
}
