@import "theme-light.css";

:root {
    --contrast-5: hsla(214, 65%, 85%, 0.06);
    --contrast-10: hsla(214, 60%, 80%, 0.14);
    --contrast-20: hsla(214, 64%, 82%, 0.23);
    --contrast-30: hsla(214, 69%, 84%, 0.32);
    --contrast-40: hsla(214, 73%, 86%, 0.41);
    --contrast-50: hsla(214, 78%, 88%, 0.5);
    --contrast-60: hsla(214, 82%, 90%, 0.58);
    --contrast-70: hsla(214, 87%, 92%, 0.69);
    --contrast-80: hsla(214, 91%, 94%, 0.8);
    --contrast-90: hsla(214, 96%, 96%, 0.9);

    --contrast-5: rgba(249, 250, 251, 0.06);
    --contrast-10: rgba(249, 250, 251, 0.14);
    --contrast-20: rgba(249, 250, 251, 0.23);
    --contrast-30: rgba(249, 250, 251, 0.32);
    --contrast-40: rgba(249, 250, 251, 0.41);
    --contrast-50: rgba(249, 250, 251, 0.5);
    --contrast-60: rgba(249, 250, 251, 0.58);
    --contrast-70: rgba(249, 250, 251, 0.69);
    --contrast-80: rgba(249, 250, 251, 0.8);
    --contrast-90: rgba(249, 250, 251, 0.9);
    --contrast: rgba(249, 250, 251, 1);

    --primary-color: hsl(241, 75%, 64%);
    --primary-color-highlight: hsl(241, 75%, 68%);

    --body-color: var(--gray-900);

    --text-color: var(--contrast);
    --primary-text-color: #9d9bff;

    --box-shadow-xs: none;

    --btn-bg-color: var(--contrast-5);
    --btn-icon-color: var(--contrast-60);
    --btn-hover-bg-color: var(--contrast-20);
    --btn-border-color: var(--contrast-10);
    --btn-text-color: var(--text-color);
    --btn-box-shadow: none;

    --input-bg-color: var(--contrast-5);
    --input-text-color: var(--text-color);
    --input-border-color: var(--contrast-10);
    --input-placeholder-color: var(--contrast-50);
    --input-box-shadow: none;

    --checkbox-bg-color: var(--contrast-20);
    --switch-bg-color: var(--contrast-20);
    --checkbox-checked-bg-color: var(--primary-color);
    --checkbox-border-color: var(--contrast-30);
    --checkbox-icon-color: var(--light-color);


    /*
    --body-color: var(--gray-900);

    --text-color: #fafafa;
    --primary-text-color: #9d9bff;

    --box-shadow-xs: rgba(255, 255, 255, 0.2) 0px 1px 2px 0px;

    --btn-bg-color: var(--gray-700);
    --btn-hover-bg-color: var(--gray-600);
    --btn-border-color: var(--btn-bg-color);
    --btn-text-color: var(--text-color);
    --btn-box-shadow: none;

    --input-bg-color: var(--gray-800);
    --input-text-color: var(--text-color);
    --input-border-color: var(--gray-600);
    --input-placeholder-color: var(--gray-color);
    --input-box-shadow: none;

    --checkbox-bg-color: var(--gray-800);
    --switch-bg-color: var(--gray-600);
    --checkbox-checked-bg-color: var(--primary-color);
    --checkbox-border-color: var(--gray-600);
    --checkbox-icon-color: var(--light-color);
     */
}

:root {
    /* Color palette */
    --gray-50: rgb(249 250 251);
    --gray-50: rgb(249, 250, 251);
    --gray-100: rgb(243 244 246);
    --gray-200: rgb(229 231 235);
    --gray-300: rgb(209 213 219);
    --gray-400: rgb(156 163 175);
    --gray-500: rgb(107 114 128);
    --gray-600: rgb(75 85 99);
    --gray-700: rgb(55 65 81);
    --gray-800: rgb(31 41 55);
    --gray-900: rgb(17 24 39);

    --primary-color: hsl(241, 75%, 64%);
    --primary-color-highlight: hsl(241, 75%, 68%);
    --primary-color-shade: hsl(241, 75%, 64%, 0.42);

    --alternative-color: hsl(179, 62%, 44%);
    --alternative-color-dark: hsl(179, 62%, 55%);

    --success-color: hsl(142, 76%, 36%);
    --success-color-highlight: hsl(142, 76%, 40%);
    --success-color-shade: hsla(142, 76%, 36%, 0.1);

    --warning-color: hsl(38, 92%, 50%);
    --warning-color-highlight: hsl(38, 92%, 55%);
    --warning-color-shade: hsla(38, 92%, 50%, 0.1);

    --error-color: hsl(0, 72%, 51%);
    --error-color-highlight: hsl(0, 72%, 60%);
    --error-color-shade: hsla(0, 72%, 51%, 0.1);

    /* Core colors */
    --text-color: var(--gray-300);
    --secondary-text-color: var(--gray-400);
    --tertiary-text-color: var(--gray-500);
    --contrast-text-color: #fff;
    --primary-text-color: #a597ff;
    /*--primary-text-color: #9d9bff*/;

    --link-color: var(--primary-text-color);
    --secondary-link-color: rgba(87, 85, 217, 0.7);

    --icon-color: var(--gray-500);

    --border-color: var(--gray-600);
    --secondary-border-color: var(--gray-700);

    --body-color: var(--gray-900);
    --body-color-contrast: var(--gray-800);

    /* Fonts */
    --base-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
    --mono-font-family: "SF Mono", "Segoe UI Mono", "Roboto Mono", Menlo, Courier, monospace;
    --fallback-font-family: "Helvetica Neue", sans-serif;
    --cjk-zh-hans-font-family: var(--base-font-family), "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", var(--fallback-font-family);
    --cjk-zh-hant-font-family: var(--base-font-family), "PingFang TC", "Hiragino Sans CNS", "Microsoft JhengHei", var(--fallback-font-family);
    --cjk-jp-font-family: var(--base-font-family), "Hiragino Sans", "Hiragino Kaku Gothic Pro", "Yu Gothic", YuGothic, Meiryo, var(--fallback-font-family);
    --cjk-ko-font-family: var(--base-font-family), "Malgun Gothic", var(--fallback-font-family);
    --body-font-family: var(--base-font-family), var(--fallback-font-family);

    /* Unit sizes */
    --unit-o: 0.05rem;
    --unit-h: 0.1rem;
    --unit-1: 0.2rem;
    --unit-2: 0.4rem;
    --unit-3: 0.6rem;
    --unit-4: 0.8rem;
    --unit-5: 1rem;
    --unit-6: 1.2rem;
    --unit-7: 1.4rem;
    --unit-8: 1.6rem;
    --unit-9: 1.8rem;
    --unit-10: 2rem;
    --unit-12: 2.4rem;
    --unit-16: 3.2rem;

    /* Font sizes */
    --html-font-size: 20px;
    --html-line-height: 1.5;
    --font-size: 0.7rem;
    --font-size-sm: 0.65rem;
    --font-size-lg: 0.8rem;
    --line-height: 1rem;

    /* Sizes */
    --layout-spacing: var(--unit-2);
    --layout-spacing-sm: var(--unit-1);
    --layout-spacing-lg: var(--unit-4);
    --border-radius: var(--unit-1);
    --border-radius-lg: var(--unit-2);
    --border-width: var(--unit-o);
    --border-width-lg: var(--unit-h);
    --control-size: var(--unit-8);
    --control-size-sm: var(--unit-6);
    --control-size-lg: var(--unit-9);
    --control-padding-x: var(--unit-2);
    --control-padding-x-sm: calc(var(--unit-2) * 0.75);
    --control-padding-x-lg: calc(var(--unit-2) * 1.5);
    --control-padding-y: calc((var(--control-size) - var(--line-height)) / 2 - var(--border-width));
    --control-padding-y-sm: calc((var(--control-size-sm) - var(--line-height)) / 2 - var(--border-width));
    --control-padding-y-lg: calc((var(--control-size-lg) - var(--line-height)) / 2 - var(--border-width));
    --control-icon-size: 0.8rem;

    --control-width-xs: 180px;
    --control-width-sm: 320px;
    --control-width-md: 640px;
    --control-width-lg: 960px;
    --control-width-xl: 1280px;

    /* Responsive breakpoints */
    --size-xs: 480px;
    --size-sm: 600px;
    --size-md: 840px;
    --size-lg: 960px;
    --size-xl: 1280px;
    --size-2x: 1440px;

    --responsive-breakpoint: var(--size-xs);

    /* Z-index */
    --zindex-0: 1;
    --zindex-1: 100;
    --zindex-2: 200;
    --zindex-3: 300;
    --zindex-4: 400;

    /* Focus */
    --focus-outline: 2px solid var(--primary-color);
    --focus-outline-offset: 2px;

    /* Shadows */
    --box-shadow-xs: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    --box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --box-shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);;
}

:root {
    --modal-overlay-bg-color: rgba(107, 114, 128, 0.65);
    --modal-container-bg-color: hsl(255, 0%, 15%);
    --modal-container-border-color: var(--gray-600);
    --modal-border-radius: var(--border-radius-lg);
    --modal-box-shadow: none;
}
