.spacer {
  flex: 1 1 0;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-sm {
  font-size: 0.7rem;
}

.text-gray-dark {
  color: $gray-color-dark;
}

.align-baseline {
  align-items: baseline;
}