$alternative-color: #05a6a3;
$alternative-color-dark: darken($alternative-color, 5%);

$secondary-link-color: rgba(87, 85, 217, 0.64);

$code-bg-color: rgba(0, 0, 0, 0.05);
$code-shadow-color: rgba(0, 0, 0, 0.15);
