{% extends "bookmarks/layout.html" %}
{% load static %}
{% load shared %}
{% load bookmarks %}

{% block content %}

    {% include 'bookmarks/bulk_edit/state.html' %}

    <div class="bookmarks-page columns">

        {# Bookmark list #}
        <section class="content-area column col-8 col-md-12">
            <div class="content-area-header">
                <h2>Archived bookmarks</h2>
                <div class="spacer"></div>
                {% bookmark_search filters tags mode='archived' %}
                {% include 'bookmarks/bulk_edit/toggle.html' %}
            </div>

            <form class="bookmark-actions" action="{% url 'bookmarks:action' %}?return_url={{ return_url }}"
                  method="post">
                {% csrf_token %}
                {% include 'bookmarks/bulk_edit/bar.html' with mode='archive' %}

                {% if empty %}
                    {% include 'bookmarks/empty_bookmarks.html' %}
                {% else %}
                    {% bookmark_list bookmarks return_url link_target %}
                {% endif %}
            </form>
        </section>

        {# Tag list #}
        <section class="content-area column col-4 hide-md">
            <div class="content-area-header">
                <h2>Tags</h2>
            </div>
            {% tag_cloud tags selected_tags %}
        </section>
    </div>

    <script src="{% static "bundle.js" %}"></script>
    <script src="{% static "shared.js" %}"></script>
    <script src="{% static "bulk_edit.js" %}"></script>
{% endblock %}
