{% load shared %}
{% load pagination %}

<ul class="bookmark-list">
    {% for bookmark in bookmarks %}
        <li>
            <label class="form-checkbox bulk-edit-toggle">
                <input type="checkbox" name="bookmark_id" value="{{ bookmark.id }}">
                <i class="form-icon"></i>
            </label>
            <div class="title truncate">
                <a href="{{ bookmark.url }}" target="_blank" rel="noopener">{{ bookmark.resolved_title }}</a>
            </div>
            <div class="description truncate">
                {% if bookmark.tag_names %}
                    <span>
                            {% for tag_name in bookmark.tag_names %}
                                <a href="?{% append_query_param q=tag_name|hash_tag %}">{{ tag_name|hash_tag }}</a>
                            {% endfor %}
                        </span>
                {% endif %}
                {% if bookmark.tag_names and bookmark.resolved_description %} | {% endif %}

                {% if bookmark.resolved_description %}
                    <span>{{ bookmark.resolved_description }}</span>
                {% endif %}
            </div>
            <div class="actions">
                {% if request.user.profile.bookmark_date_display == 'relative' %}
                    <span class="text-gray text-sm">{{ bookmark.date_added|humanize_time_delta }}</span>
                    <span class="text-gray text-sm">|</span>
                {% endif %}
                {% if request.user.profile.bookmark_date_display == 'absolute' %}
                    <span class="text-gray text-sm">{{ bookmark.date_added|date:"SHORT_DATE_FORMAT" }}</span>
                    <span class="text-gray text-sm">|</span>
                {% endif %}
                <a href="{% url 'bookmarks:edit' bookmark.id %}?return_url={{ return_url }}"
                   class="btn btn-link btn-sm">Edit</a>
                {% if bookmark.is_archived %}
                    <a href="{% url 'bookmarks:unarchive' bookmark.id %}?return_url={{ return_url }}"
                       class="btn btn-link btn-sm">Unarchive</a>
                {% else %}
                    <a href="{% url 'bookmarks:archive' bookmark.id %}?return_url={{ return_url }}"
                       class="btn btn-link btn-sm">Archive</a>
                {% endif %}
                <a href="{% url 'bookmarks:remove' bookmark.id %}?return_url={{ return_url }}"
                   class="btn btn-link btn-sm btn-confirmation">Remove</a>
            </div>
        </li>
    {% endfor %}
</ul>

<div class="bookmark-pagination">
    {% pagination bookmarks %}
</div>
