{% extends 'bookmarks/layout.html' %}

{% block head %}
  {% with page_title="Edit bookmark - Linkding" %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block content %}
  <div class="bookmarks-form-page">
    <main class="content-area">
      <div class="content-area-header">
        <h1>Edit bookmark</h1>
      </div>
      <form action="{% url 'linkding:bookmarks.edit' bookmark_id %}?return_url={{ return_url|urlencode }}" method="post"
            novalidate>
        {% include 'bookmarks/form.html' %}
      </form>
    </main>
  </div>
{% endblock %}
