{% extends 'bookmarks/layout.html' %}

{% block head %}
  {% with page_title="Edit bookmark - Linkding" %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block content %}
  <div class="bookmarks-form-page">
    <main aria-labelledby="main-heading">
      <div class="section-header">
        <h1 id="main-heading">编辑书签</h1>
      </div>
      <form action="{% url 'linkding:bookmarks.edit' bookmark_id %}?return_url={{ return_url|urlencode }}" method="post"
            novalidate>
        {% include 'bookmarks/form.html' %}
      </form>
    </main>
  </div>
{% endblock %}
