{% load i18n %}
<div class="empty mt-4">
  {% if not bookmark_list.query_is_valid %}
    <p class="empty-title h5">{% translate "Invalid search query" %}</p>
    <p class="empty-subtitle">
      {% blocktranslate trimmed with error_message=bookmark_list.query_error_message %}
        The search query you entered is not valid. Common reasons are unclosed parentheses or a logical operator (AND, OR,
        NOT) without operands. The error message from the parser is: "{{ error_message }}".
      {% endblocktranslate %}
    </p>
  {% else %}
    <p class="empty-title h5">{% translate "You have no bookmarks yet" %}</p>
    {% url 'linkding:bookmarks.new' as new_url %}
    {% url 'linkding:settings.general' as settings_url %}
    {% url 'linkding:settings.integrations' as integrations_url %}
    <p class="empty-subtitle">
      {% blocktranslate trimmed %}
        You can get started by <a href="{{ new_url }}">adding</a> bookmarks,
        <a href="{{ settings_url }}">importing</a> your existing bookmarks or configuring the
        <a href="{{ integrations_url }}">browser extension</a> or the <a href="{{ integrations_url }}">bookmarklet</a>.
      {% endblocktranslate %}
    </p>
  {% endif %}
</div>
