{% extends "bookmarks/layout.html" %}
{% load shared %}

{% block content %}
    <div>
        <h2>Bookmarks</h2>
        <a href="{% url 'bookmarks:new' %}">Add</a>
    </div>
    <div>
        <form method="get">
            <input type="search" name="q" placeholder="Search..." value="{{ query }}">
            <input type="submit" value="Search">
        </form>
    </div>
    <ul class="bookmark-list">
        {% for bookmark in bookmarks %}
            <li>
                <p>
                    <a href="{{ bookmark.url }}" target="_blank">{{ bookmark.resolved_title }}</a>
                </p>
                {% if bookmark.resolved_description is not None %}
                    <p>{{ bookmark.resolved_description }}</p>
                {% endif %}
                <p>
                    <a href="{% url 'bookmarks:edit' bookmark.id %}">Edit</a>
                    <a href="{% url 'bookmarks:remove' bookmark.id %}"
                       onclick="return confirm('Do you really want to delete this bookmark?')">Remove</a>
                </p>
            </li>
        {% endfor %}
    </ul>
    <div class="pagination">
        {% if bookmarks.has_next %}
            <a href="?{% update_query_string page=bookmarks.next_page_number %}">< Older</a>
        {% endif %}
        {% if bookmarks.has_previous %}
            <a href="?{% update_query_string page=bookmarks.previous_page_number %}">Newer ></a>
        {% endif %}
    </div>

{% endblock %}
