{% extends 'bookmarks/layout.html' %}

{% block head %}
  {% with page_title="New bookmark - Linkding" %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block content %}
  <div class="bookmarks-form-page">
    <main aria-labelledby="main-heading">
      <div class="section-header">
        <h1 id="main-heading">New bookmark</h1>
      </div>
      <form action="{% url 'linkding:bookmarks.new' %}" method="post" novalidate ld-form-submit>
        {% include 'bookmarks/form.html' %}
      </form>
    </main>
  </div>
{% endblock %}
