<div ld-modal class="modal active">
  <div class="modal-overlay" aria-label="Close"></div>
  <div class="modal-container">
    <div class="modal-header d-flex justify-between align-center">
      <div class="modal-title h5">Tags</div>
      <button class="close">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
             stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M18 6l-12 12"></path>
          <path d="M6 6l12 12"></path>
        </svg>
      </button>
    </div>
    <div class="modal-body">
      <div class="content">
        {% include 'bookmarks/tag_cloud.html' %}
      </div>
    </div>
  </div>
</div>
