<form id="user-select" action="" method="get">
  {% if search.query %}
    <input type="hidden" name="q" value="{{ search.query }}">
  {% endif %}
  <div class="form-group">
    <div class="d-flex">
      <select name="user" class="form-select">
        <option value="">Everyone</option>
        {% for user in users %}
          <option value="{{ user.username }}"
                  {% if user.username == search.user %}selected{% endif %}
                  data-is-user-option>
            {{ user.username }}
          </option>
        {% endfor %}
      </select>
      <noscript>
        <button type="submit" class="btn btn-link ml-2">Apply</button>
      </noscript>
    </div>
  </div>
</form>
<script>
  const form = document.getElementById('user-select');
  const select = form.querySelector('select');
  select.addEventListener('change', () => {
    form.submit();
  });
</script>
