.settings-page {
  section.content-area {
    margin-bottom: $unit-10;

    h2 {
      margin-bottom: $unit-3;
    }
  }

  textarea.monospace {
    font-family: monospace;
    box-sizing: border-box;
  }

  .input-group > input[type=submit] {
    height: auto;
  }

  section.about table {
    max-width: 500px;
  }
}
