{% extends 'bookmarks/layout.html' %}
{% load widget_tweaks %}

{% block head %}
  {% with page_title="Edit bundle - Linkding" %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block content %}
  <div class="bookmarks-form-page">
    <main aria-labelledby="main-heading">
      <div class="section-header">
        <h1 id="main-heading">Edit bundle</h1>
      </div>

      {% include 'shared/messages.html' %}

      <form id="bundle-form" action="{% url 'linkding:bundles.edit' bundle.id %}" method="post" novalidate>
        {% csrf_token %}
        {% include 'bundles/form.html' %}
      </form>

      {% include 'bundles/preview.html' %}
    </main>
  </div>
{% endblock %}
